<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/logo-GhnQBvCJh/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for <%= search %></title>
</head>
<body>
    <div id="cont"><img id="img" src="/logo-GhnQBvCJh/logo.png" alt="">&nbsp;</div>
    <iframe src=<%= url %> >You are offline or your browser didn't support our services ! <br></iframe>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

        *{
            font-family:'Poppins',sans-serif;
        }
        body{
            overflow: hidden;
        }
        iframe{
          width: 100%;
          height: 100vh;
          border:none;
          outline: none;
          }
      
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Poppins',sans-serif;
            font-size: 22px;
          top:10px;
          left:10px;
          position: absolute;
          width:10.5%;
          height:80px;
          z-index:4;
          background:#fff;
        }
        div img{
            width:40px;
            height: 40px;
            animation: rotate 3s linear ;
        }
        div span{
            font-weight: 600;
            transition: .8s;
            animation: change 1s linear;
        }
        @keyframes change{
            0%{
                display: block;
                opacity:1;
                transform: translateX(0px);
            }
            100%{
                display:block;
                opacity:0;
                transform: translateX(-11px);
            }
        }
        @keyframes rotate{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        @media only screen and (max-width:800px){
            div{
                width:100%;
                top:0;
                height:50px;

            }
            div img{
                width:30px;
                height:30px;
            }
        }
      </style>
</body>
<script>
    var cont = document.getElementById('cont');
    var img = document.getElementById('img');
    document.addEventListener("DOMContentLoaded",()=>{
        var span1 = document.createElement("span");
        var span2 = document.createElement("span");
        var span3 = document.createElement("span");

        span1.innerHTML = "K.S.E";
        span2.innerHTML = "Ask...";
        span3.innerHTML = "Anything...!";


        cont.appendChild(span1);
        setTimeout(() => {
            span1.remove();
            img.style.display = "none";
            cont.appendChild(span2);
            setTimeout(()=>{
                span2.remove();
                img.style.display = "none";

                // span1.style.animation = "none";
                cont.appendChild(span3);
                setTimeout(() => {
                    span3.remove();
                img.style.display = "block";
                    
                    span1.style.animation = "none";
                    cont.appendChild(span1);
                }, 1000);
            },1000)
        },1000);

    })
</script>
</html>